*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.imgBx{
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    background: url(download.jpg);
    background-size: cover;
}
.imgBx img{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 1s;
    pointer-events: none;
}
.imgBx:hover img:nth-child(2){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%) scale(2);

}
.imgBx img:nth-child(1){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(50%) scale(2);
}
.imgBx:hover img:nth-child(1){
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%) scale(1);
}